<div class="panel panel-default" *ngIf="dictaat">
    <div class="panel-heading">Dictaat - {{dictaat.name}}</div>
    <div class="panel-body">

       <div *ngIf="dictaat" class="dictaatEntries">

           <wd-dictaat-entry (onSelect)="onSelect($event)" [entry]="dictaat.rootEntry"></wd-dictaat-entry>

       </div>

    </div>
    <div class="panel-footer">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" (click)="goBack()">Cancel</button>
        </div>
    </div>
</div>

