<button class="btn btn-xs btn-success" (click)="showModal = true">
    <span class="glyphicon glyphicon-plus"></span>
</button>

<div class="modal" *ngIf="showModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new page</h4>
            </div>
            <div class="modal-body">

                <div class="input-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name of the page"
                           [(ngModel)]="page.name"  #name="ngModel" required>
                    <div [hidden]="name.valid || name.pristine"
                         class="alert alert-danger">
                        Name is required
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-left" (click)="showModal = false">Cancel</button>
                    <button type="button" class="btn btn-success pull-right" 
                            (click)="add()" 
                            [disabled]="!page.name || page.name.length < 3" >Add</button>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>