@model Webdictaat.Model.DictaatEntryVM

<li>
    <div class="entry" id="@Model.Location">
        <span class="triangle" ></span>
        <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
        <span class="title">@Model.Name</span>
    </div>
    <ul class="subEntries">
        @foreach (var entry in Model.Entries)
        {
            Html.RenderPartial("_DictaatEntry", entry);
        }
        @foreach(var file in Model.Files)
        {
            <li class="file">@file</li>
        }
    </ul>
</li>