<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Dictaten</div>
            <div class="panel-body">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let  dictaat of dictaten"  (click)="onSelect(dictaat)">
                            <td>{{dictaat.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <wd-dictaat [dictaatName]="selectedDictaat.name" *ngIf="selectedDictaat">Loading dictaat...</wd-dictaat>
    </div>
    <div class="col-md-6">
       <wd-file-preview></wd-file-preview>
    </div>
</div>
